@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 0 50px;
  z-index: 999;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.navdiv {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navdiv .logo a {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 35px;
  color: orange;
}

.navbar a {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}

.navbar a:hover {
  color: orange;
  transition: all 0.6s ease;
  text-decoration: underline;
}

.navbar .logo a:hover {
  color: #555;
  transition: all 0.4s ease;
  text-decoration: underline;
}

.home {
  height: 100vh;
}

.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
  max-width: 1000px;

}

.home span {
  color: orange;
}

.home p {
  color: #555;
  line-height: 22px;
  max-width: 500px;
}

.media_icons a {
  background: #555;
  padding: 10px 18px;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.media_icons a:hover {
  color: orange;
}

.images {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img {
  height: 80%;
  position: absolute;
  left: 20%;
  bottom: 15%;
}

.title {
  display: flex;
  justify-content: center;
}

.about-section {
  height: 100vh;
  background-color: #f4f4f4;
}

.about-section .content {
  padding: 100px;
  width: 100%;
  margin: 0 auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.about-header p {
  padding-bottom: 12px;
}

.skills-experience h1 {
  font-size: 3em;
  color: #222222;
  padding-bottom: 10px;
}

.description p {
  font-size: 1.25em;
  color: #6e6e6e;
  padding-top: 15px;
}

.about-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.about-details article {
  margin-bottom: 30px;
}

.about-details h1 {
  padding-bottom: 10px;
  color: #222222;
}

.about-details p {
  color: #6e6e6e;
}

.details-content {
  flex: 1;
}

.working-image {
  max-width: 400px;
  margin-left: 100px;
}

.working-image img {
  max-width: 100%;
  height: auto;
}
