* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative
}

nav ul li a:hover {
    color: orange;
    transition: all 0.4s ease;
}

.hero {
    margin-left: 8%;
    margin-top: 15%;
}

.hero h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: orange;
}

.hero p {
    color: #555;
    line-height: 22px;
}

.media_icons a {
    background: #555;
    padding: 10px 18px;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.media_icons a:hover {
    color: orange;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 80%;
    position: absolute;
    left: 20%;
    bottom: 15%;
}